<.card title_text="Welcome to KeenMate s.r.o.">
  <.paragraph>
    Your Phoenix LiveView app is running with PureAdmin components.
  </.paragraph>
  <.paragraph>
    Edit <code>lib/test-02_web/controllers/page_html/home.html.heex</code> to change this page,
    or add new LiveViews to <code>lib/test-02_web/live/</code> and wire them in <code>router.ex</code>.
  </.paragraph>
  <.button variant="primary">Get Started</.button>
</.card>
